# Ignore the tutorials folder that I kept for personal 
tutorials/

# Python byte‑code
__pycache__/
*.py[cod]

# PyTorch model checkpoints
*.pt
*.pth
checkpoints/

# Lightning/TorchTrainer logs
lightning_logs/

# TensorBoard logs
runs/
logs/
logs_RNN/
logs_Transformer/
csv_logs_randomsearch/
csv_logs_randomsearch_rnn
csv_logs_final/
logs_FinalRNN/
logs_FinalTransformer/
# Jupyter checkpoints (if you use notebooks)
.ipynb_checkpoints/
